<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MoeCloud</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <nav class="navbar navbar-expand-md bg-info navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/Home/Index">MoeCloud</a>
        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Link 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link 2</a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Dropdown link
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Link 1</a>
                    <a class="dropdown-item" href="#">Link 2</a>
                    <a class="dropdown-item" href="#">Link 3</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Logout" onclick="Logout()">退出</a>
            </li>
        </ul>
    </nav>
    <br>
    <div class="container">
        @RenderBody()
    </div>
    <br>
    <div class="jumbotron text-center" style="margin-bottom:0">
        <p>Copyright &copy; 2020-@DateTime.Now.Year MoeCloud</p>
        <p>Powered by <a href="https://github.com/HopuTeam" target="_blank">HopuTeam</a> | Theme base <a href="https://getbootstarp.com" target="_blank">Bootstrap</a> & <a href="https://www.layui.com" target="_blank">Layui</a></p>
    </div>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/copyright.js"></script>
    <script src="~/webuploader/webuploader.js"></script>
    <script>
        function logout() {
            layer.load(2, { shade: false });
            layer.confirm('确定要退出登录？', {
                btn: ['确定', '取消']
            }, function () {
                $.post('/User/Logout', function (res) {
                    layer.alert(res.message);
                });
                setTimeout(function () {
                    window.location.href = '/Sign/Index';
                }, 1500);
            });
            setTimeout(function () {
                layer.closeAll('loading');
            }, 300);
        };
    </script>
    @RenderSection("scripts", false)
</body>
</html>